.top {
    text-align: center;
}

.extra {
    margin: 2em;
}

td:first-child + td { text-align: right; }

td {
    font-size: 125%;
}
.table {
    width: 100%;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    
}